name: Prod Deploy Workflow

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew clean build -x test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/looky-backend:prod

      - name: EC2 Deploy (Prod - Port 8080)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          envs: ENV_FILE
          script: |
            
            # Base64로 인코딩된 Secret을 풀어서 .env.prod 파일 생성
            echo "$ENV_FILE" | base64 -d > .env.prod
            
            # 이미지 Pull
            sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/looky-backend:prod
            
            # 기존 Dev 컨테이너 중지/삭제
            sudo docker stop looky-prod || true
            sudo docker rm looky-prod || true
            
            # looky-prod 컨테이너 실행 
            sudo docker run -d --name looky-prod -p 8080:8080 \
              --env-file .env.prod \
              ${{ secrets.DOCKERHUB_USERNAME }}/looky-backend:prod
            
            # 청소
            sudo docker image prune -f
        env:
          ENV_FILE: ${{ secrets.ENV_FILE }}